*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --color-primary: #3AA655; 
    --color-success: #00bf8e; 
    --color-warning: #f7c94b;
    --color-danger: #d95333;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #010101;
    --color-bg: #285136; 
    --color-bg1: #2f603f; 
    --color-bg2: #366d48;

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

body{
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

/*start of table*/

#box1{
    margin-top: 100px;
    text-align: center;
  }

table{
    text-align: center;
    border-radius: 10px;
    border: 2px solid #3AA655;
    border-collapse: collapse;
    padding: 5px;
}  

th{
    background-color: #3AA655;


}    

#box1{
    background-color: #3AA655 ;
    word-wrap: break-word;
    border-radius: 30px;
}

tr:nth-child(even){
    background-color: var(--color-bg2);

}
